{% extends "base.html" %}

{% block title %} About {% endblock %}

{% block content %}
<table class="table table-sm">
  <thead>
    <tr style="background-color:#343A40; color:#FFF">
      <th scope="col">Air Quality Index Levels of Health Concern</th>
      <th scope="col">Numerical Value</th>
      <th scope="col">Meaning</th>
    </tr>
  </thead>
  <tbody>
    <tr class="Good">
      <th scope="row">Good</th>
      <td>0 to 50</td>
      <td>Air quality is considered satisfactory, <br> and air pollution poses little or no risk.</td>
    </tr>

    <tr class="Moderate">
      <th scope="row">Moderate</th>
      <td>51 to 100	</td>
      <td>Air quality is acceptable; however,<br> for some pollutants there may be a moderate health concern for a very<br> small number of people who are unusually sensitive to air pollution.</td>
    </tr>

    <tr class="Groups">
      <th scope="row">Unhealthy for Sensitive Groups</th>
      <td>101 to 150	</td>
      <td>Members of sensitive groups may experience health effects.<br> The general public is not likely to be affected.</td>
    </tr>

    <tr class="Unhealthy">
      <th scope="row">nhealthy</th>
      <td>151 to 200	</td>
      <td>Everyone may begin to experience health effects; members of sensitive <br> groups may experience more serious health effects.</td>
    </tr>

    <tr class="Very">
      <th scope="row">Very Unhealthy</th>
      <td>201 to 300</td>
      <td>Health alert: everyone may experience more serious health effects.</td>
    </tr>

    <tr class="Hazardous">
      <th scope="row">Hazardous</th>
      <td>301 to 500</td>
      <td>Health warnings of emergency conditions. The entire population is more likely to be affected.</td>
    </tr>

  </tbody>
</table>

<h3>Api From <a href="https://airnow.gov/" target="_blank">AirNow</a></h3>
{% endblock %}
